/* Master styles*/
body {
  font-family: 'Brush Script MT', cursive; 
    margin: 0px;
    background-color: black;

  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
 
  /* Nav styles*/
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: rgb(210, 219, 228);
    border-radius: 5rem;
  }
  
  .left-side {
    display: flex;
  }
  
  .nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .active-nav-link {
    border-bottom: 1px solid black;
  }
  
  .active-nav-link a {
    color: black !important;
  }
  
  .nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link-wrapper:hover {
    border-bottom: 1px solid black;
  }
  
  .nav-link-wrapper a:hover {
    color: black;
  }
  
  /*portfolio styles*/
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  
  .portfolio-item-wrapper {
    position: relative;
  }
  
  .portfolio-img-background {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
  }
  
  .logo-wrapper img {
    width: 100%;
    margin-bottom: 0px;
    border-radius: 10%;

  }
  
  /*Putting text on top of the images.*/
  .img-text-wrapper {
    position: absolute;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    text-align: center;
    margin-bottom: 0rem;
    margin-right: 1rem;
  }
  .img-text-wrapper2 {
    position: absolute;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    text-align: center;
    margin-top: 6rem;
    margin-right: 1rem;
  }
  
  .img-text-wrapper .subtitle {
    position: absolute;
    transition: 1s;
    color: transparent;
  }
  .img-text-wrapper2 .subtitle {
    position: absolute;
    transition: 1s;
    color: transparent;
  }
  
  .image-blur {
    transition: 1s;
    filter: brightness(10%);
  }
  
  .img-text-wrapper:hover .subtitle {
    color: lightseagreen;
    font-weight: 600;
  }
  .img-text-wrapper2:hover .subtitle {
    color: lightseagreen;
    font-weight: 600;
  }
  
  .img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 600;
  }
  .img-text-wrapper2 .subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 600;
  }

  .img-text-wrapper:hover .subtitle {
    font-family: 'Brush Script MT', cursive;    
    font-weight: 400;
    font-size: large;
    color: lightseagreen;
  }
  .img-text-wrapper2:hover .subtitle {
    font-family: 'Brush Script MT', cursive;    font-weight: 600;
    font-weight: 400;
    font-size: large;
    color: lightseagreen;
  }

  /*For when transition will be applied this will be called*/
  .img-darken {
      transition: 1s;
      filter: brightness(10%);
  }

  /*About page styles*/
  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;  
  }
  
  .profile-image-wrapper img {
    width: 50%;
    border-radius: 10%;
    margin-top: 1rem;
  }
  
  .profile-content-wrapper {
    padding: 30px;
    color: lightseagreen; 
    width: 40%;   
  }
  
  .profile-content-wrapper h1 {
    color: lightseagreen;
  }
  